body{
    width: 100%;
    height: 100%;
}
html{
    width: 100%;
    height: 100%;
}

#divEsquerda{
    width: 49%;
    height: 85%;
    padding: 5px;
    float: left;
    background-color: tomato;
}

#divEsquerda h1{
    color: yellow;
    font-family: 'Sedgwick Ave', cursive;
}

#divEsquerda p{
    font-family: 'Caveat', cursive;
}

#divDireita{
    float: right;
    width: 49%;
    height: 85%;
}

#divDireita th,td{
    border-bottom: 1px solid black;
}

#divDireita th{
    text-align: right;
}

#divDireita img{
    width: 50%;
    height: auto    ;
}

#rodape{
    width: 100%;
    height: 15%;
    clear: both;
    text-align: center;
}

#rodape p{
    padding-top: 2%;
}