html, body{
    width: 100%;
    height: 100%;
}

.conteiner{
    width: 90%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
}

ul{
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

li{
    
}