li:first-child{
    color: red;
}

li:last-child{
    color: green;
}

li:nth-child(4){
    color: yellow;
}
a:hover{
    background-color: aquamarine;
}
a:link{
    color: green;
}

a:visited{
    color: red;
}

a:active{
    color: black;
}

p:first-letter{
    color: red;
    font-size: 200%;
}

p::first-line{
    font-style: italic;
}

a::before{
    content: "<";
}

a::after{
    content: ">";
}

p{
    text-shadow: 10px 5px 4px red;
}

#p{
    opacity: 0.3;
    background-color: rgba(255, 100, 255, 0.3);
}
